ul.santaclaraiconselectul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 1px solid black !important;
}

ul.santaclaraiconselectul li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul.santaclaraiconselectul li.selected {
    border: 1px solid black !important;
}