ul.santaclaraiconselectul {
    list-style: none;
    text-align: left;
    padding: .2em !important;
    margin: 0 !important;
    position: absolute;
    z-index: 100;
    width: 5em;
    heigth: 5em;
    margin-top: .2em;
    background: #fff;
    border: 1px solid #666;
}

.santaclaraiconselectview {
    padding: .4em !important;
    margin: .2em !important;
    border: 1px solid #ccc !important;
}

ul.santaclaraiconselectul li {
    display: inline;
    padding: .2em !important;
    margin: .2em !important;
    border: 1px solid #ccc !important;
}

ul.santaclaraiconselectul li.selected {
    border: 1px solid black !important;
}